@import '~antd/es/style/themes/default.less';

.header {
    text-align: center;
    color: @geekblue-1;
    background-color: @cyan-9;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

button {
    margin-top: 20px;
}

h4 {
    margin-top: 10px;
}

#container {
    display: flex;
    justify-content: center;
}